<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Todo App</title>
  </head>
  <body>
    <nav>
      <h1>Todo List</h1>
    </nav>
    <main>
      <ul class="todo-list">
        <% for(let i=0; i < info.length; i++) {%>
        <li class="todo" data-id="<%= info[i]._id %>">
          <span class="todo-text <%= info[i].completed ? 'completed' : '' %>"
            ><%= info[i].todo %></span
          >
          <span class="delete">[X]</span>
        </li>
        <% } %>
      </ul>
      <h3>Add a todo:</h3>
      <form action="/todos/newTodo" method="POST" class="input-container">
        <input type="text" name="todo" />
        <input type="submit" value="Submit" />
      </form>
    </main>

    <script src="./js/main.js"></script>
  </body>
</html>
